In [17]:
import pandas as pd
import numpy as np

census = pd.read_csv("census.csv")
census.columns
census.groupby('STNAME')['CENSUS2010POP'].agg(['max', 'min', 'mean']).round(2).sort_values(by = 'max', ascending = False)

                           max     min        mean
STNAME
California            37253956    1175  1262845.97
Texas                 25145561      82   197220.09
New York              19378102    4836   615177.84
Florida               18801310    8365   552979.71
Illinois              12830632    4320   249138.49
Pennsylvania          12702379    5085   373599.38
Ohio                  11536504   13435   259247.28
Michigan               9883640    2156   235324.76
Georgia                9687653    1717   121095.66
North Carolina         9535483    4407   188821.45
New Jersey             8791894   66083   799263.09
Virginia               8001024    2321   119371.84
Washington             6724540    2266   336227.00
Massachusetts          6547629   10172   873017.20
Indiana                6483802    6128   139436.60
Arizona                6392017    8437   799002.12
Tennessee              6346105    5077   132210.52
Missouri               5988927    2171   103257.36
Maryland               5773552   20197   461884.16
Wisconsin              5686986    4232   155807.84
Minnesota              5303925    3558   120543.75
Colorado               5029196     699   154744.49
Alabama                4779736    9045   140580.47
South Carolina         4625364   10233   196824.00
Louisiana              4533372    5252   139488.37
Kentucky               4339367    2282    71725.07
Oregon                 3831074    1441   207085.08
Oklahoma               3751351    2475    96188.49
Connecticut            3574097  118428   794243.78
Iowa                   3046355    4029    60927.10
Mississippi            2967297    1406    71501.13
Arkansas               2915918    5368    76734.68
Kansas                 2853118    1247    53832.42
Utah                   2763885    1059   184259.00
Nevada                 2700551     783   300061.22
New Mexico             2059179     695   121128.18
West Virginia          1852994    5717    66178.36
Nebraska               1826341     460    38858.32
Idaho                  1567582     982    69670.31
Hawaii                 1360301      90   453433.67
Maine                  1328361   17535   156277.76
New Hampshire          1316470   33055   239358.18
Rhode Island           1052567   49875   350855.67
Montana                 989415     494    34716.32
Delaware                897934  162310   448967.00
South Dakota            814180    1006    24303.88
Alaska                  710231     662    47348.73
North Dakota            672591     727    24910.78
Vermont                 625741    6306    83432.13
District of Columbia    601723  601723   601723.00
Wyoming                 563626    2484    46968.83

In [32]:
census.groupby('STNAME')['DEATHS2015'].agg(['min','max']).sort_values(by = 'min').head(10)

              min     max
STNAME
Hawaii          0   11684
Montana         0    9204
Nebraska        0   14697
North Dakota    0    5879
Texas           0  182479
Alaska          1    4282
Colorado        1   35126
South Dakota    2    6972
Nevada          3   22345
Utah            4   15582

In [41]:
#fetch data for all cities with 0 deaths

states = ['Hawaii', 'Montana', 'Nebraska', 'North Dakota', 'Texas']
census[census.STNAME.isin(states)].groupby('CTYNAME')['DEATHS2015'].agg(['min', 'max']).sort_values('min', ascending = True).head(10)

                  min  max
CTYNAME
Petroleum County    0    0
Loving County       0    0
Slope County        0    0
Kenedy County       0    0
Kalawao County      0    0
Arthur County       0    0
King County         0    0
McPherson County    2    2
Thomas County       3    3
Keya Paha County    3    3

In [44]:
census[census.STNAME.isin(states)].groupby(['STNAME', 'CTYNAME'])['DEATHS2015'].agg(['min', 'max']).sort_values(by = 'min').head(20)

                               min  max
STNAME       CTYNAME
Montana      Petroleum County    0    0
Nebraska     Arthur County       0    0
Texas        Kenedy County       0    0
             Loving County       0    0
             King County         0    0
North Dakota Slope County        0    0
Hawaii       Kalawao County      0    0
Nebraska     McPherson County    2    2
             Grant County        3    3
             Wheeler County      3    3
             Blaine County       3    3
             Keya Paha County    3    3
             Thomas County       3    3
             Hayes County        4    4
North Dakota Billings County     4    4
Nebraska     Loup County         5    5
             Sioux County        5    5
             Banner County       5    5
Texas        Roberts County      6    6
North Dakota Oliver County       6    6

In [48]:
print('Maximum Births:',census.BIRTHS2015.max())
print('Minimum Births:', census.BIRTHS2015.min())

Maximum Births: 503849
Minimum Births: 0

In [66]:
census.groupby('STNAME')['BIRTHS2015'].agg(['max', 'min']).sort_values(by = 'max', ascending = False).head(1)

               max  min
STNAME
California  503849    4

In [ ]:
census.groupby('STNAME')['BIRTHS2015'].agg(['max', 'min']).sort_values(by = 'min', ascending = True).head()

             max  min
STNAME
Hawaii     19298    0
Texas     398088    0
Nebraska   26256    2
Montana    12593    2

In [74]:
census[census.STNAME == 'California'].groupby('CTYNAME')['BIRTHS2015'].agg(['min', 'max']).sort_values(by = 'max', ascending = False)

                           min     max
CTYNAME
California              503849  503849
Los Angeles County      130070  130070
San Diego County         44561   44561
Orange County            37776   37776
Riverside County         30828   30828
San Bernardino County    30817   30817
Santa Clara County       23625   23625
Alameda County           19996   19996
Sacramento County        19781   19781
Fresno County            16002   16002
Kern County              14429   14429
Contra Costa County      12534   12534
Ventura County           10605   10605
San Joaquin County       10044   10044
San Francisco County      9059    9059
San Mateo County          9034    9034
Tulare County             7751    7751
Stanislaus County         7736    7736
Monterey County           6618    6618
Santa Barbara County      5883    5883
Solano County             5450    5450
Sonoma County             5116    5116
Merced County             4219    4219
Placer County             3735    3735
Imperial County           3127    3127
Santa Cruz County         2934    2934
San Luis Obispo County    2734    2734
Yolo County               2579    2579
Butte County              2485    2485
Kings County              2420    2420
Madera County             2412    2412
Marin County              2290    2290
Shasta County             2162    2162
El Dorado County          1575    1575
Humboldt County           1543    1543
Napa County               1495    1495
Sutter County             1302    1302
Yuba County               1220    1220
Mendocino County          1025    1025
Nevada County              853     853
Lake County                776     776
San Benito County          769     769
Tehama County              754     754
Tuolumne County            481     481
Siskiyou County            464     464
Glenn County               411     411
Calaveras County           349     349
Colusa County              316     316
Del Norte County           308     308
Lassen County              281     281
Amador County              268     268
Inyo County                228     228
Plumas County              154     154
Mono County                145     145
Mariposa County            139     139
Trinity County             100     100
Modoc County                67      67
Sierra County               10      10
Alpine County                4       4

In [93]:
minstates = ['Hawaii', 'Texas']
census[census.STNAME.isin(minstates)].groupby(['STNAME','CTYNAME', 'BIRTHS2015'])['BIRTHS2015'].agg(['min', 'max']).sort_values(by = 'min').head()

                                  min  max
STNAME CTYNAME        BIRTHS2015
Texas  King County    0             0    0
       Loving County  0             0    0
Hawaii Kalawao County 0             0    0
Texas  Terrell County 2             2    2
       Kenedy County  2             2    2

In [88]:
st_500 = census[(census.BIRTHS2015 >= 500) & (census.STNAME.isin(['Texas', 'Alabama', 'California']))]
st_out = st_500[['STNAME', 'CTYNAME', 'BIRTHS2015']].head(60)
st_out

         STNAME                 CTYNAME  BIRTHS2015
0       Alabama                 Alabama       58305
1       Alabama          Autauga County         600
2       Alabama          Baldwin County        2240
5       Alabama           Blount County         603
8       Alabama          Calhoun County        1335
11      Alabama          Chilton County         561
16      Alabama           Coffee County         616
17      Alabama          Colbert County         573
22      Alabama          Cullman County         960
23      Alabama             Dale County         653
24      Alabama           Dallas County         572
25      Alabama           DeKalb County         833
26      Alabama           Elmore County         948
28      Alabama           Etowah County        1168
35      Alabama          Houston County        1248
36      Alabama          Jackson County         549
37      Alabama        Jefferson County        8639
39      Alabama       Lauderdale County         958
41      Alabama              Lee County        1900
42      Alabama        Limestone County        1015
45      Alabama          Madison County        4185
48      Alabama         Marshall County        1214
49      Alabama           Mobile County        5585
51      Alabama       Montgomery County        3099
52      Alabama           Morgan County        1406
57      Alabama          Russell County         900
58      Alabama        St. Clair County        1000
59      Alabama           Shelby County        2331
61      Alabama        Talladega County         868
63      Alabama       Tuscaloosa County        2463
64      Alabama           Walker County         762
190  California              California      503849
191  California          Alameda County       19996
194  California            Butte County        2485
197  California     Contra Costa County       12534
199  California        El Dorado County        1575
200  California           Fresno County       16002
202  California         Humboldt County        1543
203  California         Imperial County        3127
205  California             Kern County       14429
206  California            Kings County        2420
207  California             Lake County         776
209  California      Los Angeles County      130070
210  California           Madera County        2412
211  California            Marin County        2290
213  California        Mendocino County        1025
214  California           Merced County        4219
217  California         Monterey County        6618
218  California             Napa County        1495
219  California           Nevada County         853
220  California           Orange County       37776
221  California           Placer County        3735
223  California        Riverside County       30828
224  California       Sacramento County       19781
225  California       San Benito County         769
226  California   San Bernardino County       30817
227  California        San Diego County       44561
228  California    San Francisco County        9059
229  California      San Joaquin County       10044
230  California  San Luis Obispo County        2734

In [89]:
st_out.describe()

          BIRTHS2015
count      60.000000
mean    17098.516667
std     66872.726287
min       549.000000
25%       936.000000
50%      2070.000000
75%      7123.250000
max    503849.000000

In [98]:
census[census.STNAME.str.startswith('A')]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243286,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,50,3,7,5,141,Arkansas,Van Buren County,17295,17294,17307,...,-6.259781,0.116391,-3.395586,-1.535101,-2.317910,-6.201820,0.116391,-3.395586,-1.476058,-2.258477
186,50,3,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
187,50,3,7,5,145,Arkansas,White County,77076,77076,77333,...,7.602949,3.889984,-4.397420,-3.953524,1.812375,8.323363,4.846537,-3.329838,-2.745856,3.054422
188,50,3,7,5,147,Arkansas,Woodruff County,7260,7264,7240,...,-4.435512,-15.854086,-2.269021,-19.538826,-14.972477,-4.435512,-15.854086,-2.269021,-19.538826,-14.972477
189,50,3,7,5,149,Arkansas,Yell County,22185,22185,22155,...,-15.784460,-7.131755,-2.981241,0.045753,-12.102042,-14.559804,-6.354576,-1.972206,1.372589,-10.680969

In [100]:
census[census.CTYNAME.str.startswith('Ca')]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
121,50,3,7,5,13,Arkansas,Calhoun County,5368,5368,5338,...,-13.365964,3.776435,-11.216730,-4.999039,7.295767,-13.365964,3.776435,-11.216730,-4.999039,7.295767
122,50,3,7,5,15,Arkansas,Carroll County,27446,27446,27544,...,-3.927773,4.179994,5.461121,-1.118185,0.072168,-3.382249,5.125036,6.365280,0.036070,1.299029
190,40,4,9,6,0,California,California,37253956,37254503,37334079,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065
195,50,4,9,6,9,California,Calaveras County,45578,45578,45464,...,-6.050903,-6.054131,0.604507,3.679234,8.612686,-5.653398,-5.720264,1.052290,4.150355,9.082469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046,50,3,5,54,11,West Virginia,Cabell County,96319,96316,96369,...,1.689758,1.002791,0.092837,-3.322773,-2.055031,2.716053,2.243358,1.402865,-1.795536,-0.536993
3047,50,3,5,54,13,West Virginia,Calhoun County,7627,7627,7643,...,0.784981,-3.149193,-5.284714,0.132679,-8.930952,0.784981,-3.149193,-5.284714,0.132679,-8.930952
3104,50,2,3,55,15,Wisconsin,Calumet County,48971,48971,49008,...,6.564418,-6.154836,-5.471901,-6.310929,1.430500,6.969629,-5.792787,-5.089673,-5.867350,1.893901
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081442,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668

In [114]:
cancer = pd.read_csv('cancer.csv')
cancer.query('radius_mean >= 10' and "diagnosis == \"B\"").head(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
19,8510426,B,13.540,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.047810,...,15.110,19.26,99.70,711.2,0.14400,0.17730,0.23900,0.12880,0.2977,0.07259
20,8510653,B,13.080,15.71,85.63,520.0,0.10750,0.12700,0.04568,0.031100,...,14.500,20.49,96.09,630.5,0.13120,0.27760,0.18900,0.07283,0.3184,0.08183
21,8510824,B,9.504,12.44,60.34,273.9,0.10240,0.06492,0.02956,0.020760,...,10.230,15.66,65.13,314.9,0.13240,0.11480,0.08867,0.06227,0.2450,0.07773
37,854941,B,13.030,18.42,82.61,523.8,0.08983,0.03766,0.02562,0.029230,...,13.300,22.81,84.46,545.9,0.09701,0.04619,0.04833,0.05013,0.1987,0.06169
46,85713702,B,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,...,8.964,21.96,57.26,242.2,0.12970,0.13570,0.06880,0.02564,0.3105,0.07409
48,857155,B,12.050,14.63,78.04,449.3,0.10310,0.09092,0.06592,0.027490,...,13.760,20.70,89.88,582.6,0.14940,0.21560,0.30500,0.06548,0.2747,0.08301
49,857156,B,13.490,22.30,86.91,561.0,0.08752,0.07698,0.04751,0.033840,...,15.150,31.82,99.00,698.8,0.11620,0.17110,0.22820,0.12820,0.2871,0.06917
50,857343,B,11.760,21.60,74.72,427.9,0.08637,0.04966,0.01657,0.011150,...,12.980,25.72,82.98,516.5,0.10850,0.08615,0.05523,0.03715,0.2433,0.06563
51,857373,B,13.640,16.34,87.21,571.8,0.07685,0.06059,0.01857,0.017230,...,14.670,23.19,96.08,656.7,0.10890,0.15820,0.10500,0.08586,0.2346,0.08025
52,857374,B,11.940,18.24,75.71,437.6,0.08261,0.04751,0.01972,0.013490,...,13.100,21.33,83.67,527.2,0.11440,0.08906,0.09203,0.06296,0.2785,0.07408