Lists

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mixed = [1, 'Hello', 3.14, True]
empty_list = []
veggies = ['Tomato', 'Potato', 'Carrot', 'cucumber', ]

In [28]:
print(mixed[0])
print(numbers[3])
print(numbers[-1])
print(numbers[-3])
print(veggies[:3])
print(numbers[-4:])
print(numbers[1::2])
print(numbers[0::2])

1
15
10
8
['Tomato', 'Potato', 'Carrot']
[7, 8, 9, 10]
[2, 15, 6, 8, 10]
[1, 3, 5, 7, 9]

In [26]:
even = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
print(even[:5])
print(odd[-5:])
numbers[3] = 15
print(numbers)

[2, 4, 6, 8, 10]
[11, 13, 15, 17, 19]
[1, 2, 3, 15, 5, 6, 7, 8, 9, 10]

In [35]:

veggies.append('curry')
veggies.insert(2, 'curry')
veggies.remove('curry')

In [61]:
veggies.extend( ['cauliflower', 'garden pebbles'] )

In [62]:
print(veggies)

['Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles']

In [63]:
combined = even + odd

In [64]:
print(combined)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [81]:
combined.sort(reverse=True)
print(combined)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
veggies_iterated = veggies * 5
print(veggies_iterated)

['Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles', 'Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles', 'Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles', 'Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles', 'Tomato', 'Potato', 'Carrot', 'cucumber', 'curry', 'tomato', 'cauliflower', 'garden pebbles']

In [75]:
#a list of hourly data from hour 0 to hour 23

hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
fivedays = hours * 5
print(len(fivedays))

120

In [76]:
len(combined)

20

SETS

In [87]:
my_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10}
print(my_numbers)
empty_set = set()
empty_set.add(2)
print(empty_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2}

In [96]:
my_numbers.add(4)
my_numbers.discard(8)
my_numbers.remove(4)
print(my_numbers)

{1, 2, 3, 5, 6, 7, 9, 10}

In [98]:
my_numbers.discard(15)
print(my_numbers)

{1, 2, 3, 5, 6, 7, 9, 10}

In [102]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
#union_set = set1.union(set2)
print(union_set)

intersection_set = set1 & set2
#intersection_set = set1.intersection(set2)
print(intersection_set)

difference_set = set1 - set2
#difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}

Dictionary

In [10]:
grades = [90, 85, 88]
student_info = {
    'Name': 'John',
    'Age': '23',
    'Course': 'Data Science',
    'Grades': grades}

In [15]:
print(student_info['Name'])
print(student_info['Grades'])

John
[90, 85, 88]

In [20]:
print("Name:", student_info['Name'], "\nAge :", student_info['Age'])

Name: John
Age : 23

In [29]:
#Adding items to a dictionary
student_info["Year"] = "Sophomore"
student_info["Age"] = 30
del(student_info["age"])
print(student_info)

{'Name': 'John', 'Age': 30, 'Course': 'Data Science', 'Grades': [90, 85, 88], 'Year': 'Sophomore'}

In [31]:
student_info.pop("Age")

30

In [32]:
for key in student_info:
    print(key)

Name
Course
Grades
Year

In [33]:
for value in student_info.values():
    print(value)

John
Data Science
[90, 85, 88]
Sophomore

In [35]:
for key, value in student_info.items():
    print(key, ":", value)

Name : John
Course : Data Science
Grades : [90, 85, 88]
Year : Sophomore

# Tuples

In [36]:
first_tuple = (1, 2, 3, 'hello', 4.5, [5, 6], ('a', 'b'))
print(first_tuple)

(1, 2, 3, 'hello', 4.5, [5, 6], ('a', 'b'))

In [39]:
#print index 1 and 3
print(first_tuple[1], first_tuple[3])

2 hello

In [40]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [41]:
repeated = tuple1 * 3
print(repeated)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [44]:
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

# Exercise

In [1]:
#1. Create a list of odd numbers betwwen 10 and 30

numbers0 = list(range(10, 31))
odd_numbers = numbers0[1::2]
print("odd numbers List: ", odd_numbers)

#2. Create a list of even numbers between 9 and 31
numbers1 = list(range(9, 32))
even_numbers = numbers1[1::2]
print("Even numbers List: ",even_numbers)

#3. Merge the lists above and call it numbers
numbers = odd_numbers + even_numbers
print("Numbers List: ", numbers)

#4. Sort the list in ascending order and descending order

numbers.reverse()
descending = numbers
print("Descending: ", descending)
numbers.sort()
ascending = numbers
print("Ascending: ", ascending)

#5 Extend the list to 40
new_list = list(range(31, 41))
ascending.extend(new_list)
print("Extended Ascending: ", ascending)

#6 Create new sets A and B
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
setB = {1, 2, 3, 7, 9, 10}

#7 Find the union of A and B
unionSet = setA.union(setB)
print("Union Set:", unionSet)
intersectionSet = setA.intersection(setB)
print("Intersection Set:",intersectionSet)
differenceSet = setA.difference(setB)
print("Difference Set:",differenceSet)

#8 Dictionaries
'''names = ['Frank', 'Kofi', 'Adwoa', 'Ama', 'Emma']
ages = [21, 32, 34, 26, 27]
marital = ['Single', 'Married', 'Married', 'Single', 'divorced']
occupation = ['Teacher', 'Engineer', 'Engineer', 'Programmer', 'uneployed']

# Create a dictionary with the above lists
info = {'Names': names, 'Age': ages, 'Marital Status': marital, 'Occupation': occupation}

# Iterate over the dictionary and print each key-value pair
for key, value in info.items():
    print(key,":", value)
'''
#table = {
#    'Frank' : {"Age" : 21, "Marital Status" : "Single", "Occupation" : "Teacher"},
#    'Kofi' : {"Age" : 32, "Marital Status" : "Married", "Occupation" : "Engineer"},
#    'Adwoa' : {"Age" : 34, "Marital Status" : "Married", "Occupation" : "Engineer"},
#    'Ama' : {"Age" : 26, "Marital Status" : "Single", "Occupation" : "Programmer"},
#    'Emma' : {"Age" : 27, "Marital Status" : "divorced", "Occupation" : "uneployed"}
#}
#
#for key, value in table.items():
#    print(key,":", value)

odd numbers List:  [11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
Even numbers List:  [10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
Numbers List:  [11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
Descending:  [30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11]
Ascending:  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Extended Ascending:  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
Union Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection Set: {1, 2, 3, 7, 9, 10}
Difference Set: {8, 4, 5, 6}
Frank : {'Age': 21, 'Marital Status': 'Single', 'Occupation': 'Teacher'}
Kofi : {'Age': 32, 'Marital Status': 'Married', 'Occupation': 'Engineer'}
Adwoa : {'Age': 34, 'Marital Status': 'Married', 'Occupation': 'Engineer'}
Ama : {'Age': 26, 'Marital Status': 'Single', 'Occupation': 'Programmer'}
Emma : {'Age': 27, 'Marital Status': 'divorced', 'Occupation': 'uneployed'}

# PYTHON CONTROL FLOW

# IF statements

In [15]:
x = int(input("Enter a number: "))
if x > 0:
    print(f"{x} is positive")
elif x < 0:
    print(f"{x} is negative")
else:
    print(f"{x} is zero")

4 is positive

In [2]:
#for loops

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
#while loops
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [9]:
user = float(input("Enter a number: "))
if user > 0:
    print("The number is positive")

elif user < 0:
    print("The number is negative")
else:
    print("The number is zero")

The number is zero
 0.000

In [14]:
sum = 10
user = float(input("Enter a number: "))
if user > 0 or user < 0:
    sum += user
    print(sum)
else:
    sum *= user
    print(sum)

0.0

In [23]:
#Even or odd
user = int(input("Enter a number: "))
if user % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [2]:
user = int(input("Enter a number: "))
for i in range(2, user):
    if user % i == 0:
        print("The number is not a prime number")
        break
    else:
        print("The number is a prime number")

The number is a prime number
The number is not a prime number

In [26]:
user = int(input("Enter a number: "))
if user % 2 == 0 and user > 0:
    print("The number is even")
elif user == 0:
    print("Don't enter 0")
else:
    print("The number is odd")

Don't enter 0

In [29]:
user = int(input("Enter a number: "))
if user != 0:
    if user % 2 == 0:
        print(f"The number {user} is even")
    else:
        print(f"The number {user} is odd")
else:
    print("Don't enter 0")

The number 8 is even

In [34]:
#voting eligibility check with age using nested if
age = int(input("Enter your age: "))
if age >= 18:
    if age == 18:
        print("You are now eligible to vote\nBe sure to vote wisely!")
    else:
        print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are now eligible to vote
be sure to vote wisely!

In [41]:
'''Grading system
    85 and above == A+
    80 and above == A
    75 and above == B+
    70 and above == B
    65 and above == C+
    60 and above == C
    55 and above == D+
    50 and above == D
    below 50 == You have failed
    
'''

marks = float(input("Enter your marks: "))
if marks > 100 or marks < 0:
if marks >= 85:
    print("Your grade is A+")
elif marks >= 80:
    print("Your grade is A")
elif marks >= 75:
    print("Your grade is B+")
elif marks >= 70:
    print("Your grade is B")
elif marks >= 65:
    print("Your grade is C+")
elif marks >= 60:
    print("Your grade is C")
elif marks >= 55:
    print("Your grade is D+")
elif marks >= 50:
    print("Your grade is D")
else:
    print("You have failed")

Your grade is C+

In [ ]:
'''Grading system
    85 and above == A+
    80 and above == A
    75 and above == B+
    70 and above == B
    65 and above == C+
    60 and above == C
    55 and above == D+
    50 and above == D
    below 50 == You have failed
   using nested if 
'''

marks = float(input("Enter your marks: "))
if marks > 100 or marks < 0:
    print("Grade is invalid")
else:
    if marks >= 85:
        print("Your grade is A+")
    else:
        if marks >= 80:
            print("Your grade is A")
        else:
            if marks >= 75:
                print("Your grade is B+")
            else:
                if marks >= 70:
                    print("Your grade is B")
                else:
                    if marks >= 65:
                        print("Your grade is C+")
                    else:
                        if marks >= 60:
                            print("Your grade is C")
                        else:
                            if marks >= 55:
                                print("Your grade is D+")
                            else:
                                if marks >= 50:
                                    print("Your grade is D")
                                else:
                                    print("You have failed")

Your grade is A+

In [51]:
number = int(input("Enter a number: "))
for i in range(2, number):
    if i % 2 == 0:
        print(f"{number} is not prime")
        break
    else:
        print(f"{number} is prime")

4 is not prime

In [1]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
sum = 0
for i in numbers:
    sum += i
    print(sum)
print(f"{sum} is the sum of the numbers in the list")

1
3
6
10
15
21
28
36
45
55
55 is the sum of the numbers in the list

In [8]:
product = numbers[0]
for i in numbers:
    product *= i
print(product)

3628800

In [60]:
salaries = [700, 800, 750, 1000, 500, 1800, 10000, 880, 950, 1000]
#sum = 0
#for i in salaries:
#    sum += i
#avg = sum / len(salaries)
#print(avg)
for i in range(1, len(salaries), 2):
    print(salaries[i])

800
1000
1800
880
1000

# The Range Function

In [63]:
number = []
for i in range(5):
    number.append(int(input("Enter a number: ")))
print(number)

[673, 4, 4, 5, 5]

In [72]:
sal = []
for i in range(10):
    inter = float(input("What's Your Salary please?"))
    sal.append(inter)
sumsal = 0
for i in sal:
    sumsal += i
average = sumsal / len(sal)
print(average)

[10.0, 20.0, 3.0, 67.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0]
550.0
55.0

In [74]:
sall = []
while len(sall) < 10:
    inter = float(input("What's Your Salary please?"))
    sall.append(inter)
sumsall = 0
for i in sall:
    sumsall += i
averages = sumsall / len(sall)
print(averages)

4.7