In [3]:
print('Welcome each and everyone to eSkills4jobs: Data Science')

Welcome each and everyone to eSkills4jobs: Data Science

# Python Commenting

In [25]:
# Single - Line Commenting
x = 10
xyz = 34.67
name = 'Collins'
x
xyz
name

10
34.67
Collins

In [23]:
# Multi-Line Commenting
"""Welcome everyone to eSkills4Jobs_DS
If you havent registered, kindly check your email
At this moment, you should recieve a link to join your class"""

' Welcome everyone to eSkills4Jobs_DS\nIf you havent registered, kindly check your email\nAt this moment, you should recieve a link to join your class'

# Python Variables

In [55]:
# Variable declaration: variable name, assignment operator and a value
full_name = 'Collins K. Sarpong'   # This is a proper way to declare a variable in python
full_name                         # display the value of the variable

age1 = 30       # valid
_age = 27      # valid
_age
#3age = 29      #not valid

27

# Python Multiple Assignments in one line

In [48]:
name, age, city = 'Collins', 28, 'Bolgatanga'
print(name, age, city)

Collins , 28 , Bolgatanga

# Python Data Types

In [51]:
x = 10
xyz = 34.67
name = 'Collins' 

print(type(x))      # This belongs to the INTEGER class
print(type(xyz))    # This belongs to the FLOATING POINT NUMBER class
print(type(name))  # This belongs to the STRING class

<class 'int'>
<class 'float'>
<class 'str'>

# BOOLEAN: it is an expression that evaluates to either True or False

# Comparison Operators

In [70]:
 # Comparison Operators: compares values and return True or False
# Eg. """
# ==: Checks if two values are equal.
# !=: Checks if two values are not equal.
# >: Checks if the left value is greater than the right.
# <: Checks if the left value is less than the right.
# >=: Checks if the left value is greater than or equal to the right.
# <=: Checks if the left value is less than or equal to the right. """

x = 10
y = 20

print( x == y)
print( x != y)
print( x > y)
print( x < y)
print( x >= y)

False
True
False
True
False

In [71]:
a = 10
b = 20

result = (a > b) and ( b > 15 )
print(result)

False

# Logical Operator: it combines multiple Boolean expressions

In [2]:
# and: Returns True if both expressions are True
# or:  Returns True if at least one expression is true.
# not: Negates (reverses) the Boolean value.

a = True

b = False