In [3]:
age = 1988
age

1988

In [19]:
myName, hometown, myAge, myHeight = 'Dwayne', 'Kumasi', 1988, 175.9
print(type(myName))
print(type(hometown))
print(type(myAge))
print(type(myHeight))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
print(type(myAge) is str)

False

In [35]:
x = 45
y = 39
print(x*y)
print(x-y)
print(x/y)
print(x**2)

1755
6
1.1538461538461537
2025

In [28]:
print("The sum =", x+y,"and the product =", x*y)

The sum = 84 and the product = 1755

In [29]:
print(f"The sum is{x + y} and the product is {x * y}")

The sum is84 and the product is 1755

In [39]:
base = 15
height = 24
area = 0.5 * base * height
print("The area of the Triangle is", area)

The area of the Triangle is 180.0

In [42]:
pi = 3.142
r = 25
h = 27
print(pi * (r**2) * h)

53021.25

In [48]:
base = float(input("Enter the base: "))
height = float(input("Enter the height: "))
area = 0.5 * base * height
print(f"The area is {area}")

Enter the base:  3
Enter the height:  4

The area is 6.0

In [9]:
#cedi to dollar
cedi = 55500
dollar = cedi // 16.20

print(f"Kofi's Account balance in $ is {dollar: .2f}")

Kofi's Account balance in $ is  3425.00

In [7]:
#farenheit to celcius
farenheit = float(input("Enter the temperature in Farenheit: "))
celcius = (farenheit - 32) * 5 / 9
print(f"The temperature in Celcius is {celcius: .3f}")

The temperature in Celcius is  37.778

In [6]:
#volume of a sphere

r = float(input("Enter the radius of the sphere: "))
v = (4/3) * 3.142 * (r**3)
print(f"The volume of the sphere is {v:.3f}")

The volume of the sphere is 33514.667

In [ ]:
#volume of a hemisphere
r = float(input("Enter the radius of the hemisphere: "))
v = (2/3) * 3.142 * (r**3)
print(f"The volume of the hemisphere is {v: .3f}")

In [11]:
a = 35
b = 3
a+=b
print(a)

38

In [17]:
a = 20
b = 15 
c = 20
d = 35

print(a > b)
print(a == c)
print(a <= b)
print(a >= b)
print(a != b)

True
True
False
True
True

In [18]:
print(a > b or b < a)
print(a > b and b < a)

True

In [20]:
#Single and double quotes
string1 = 'Hello'
string2 = "World"

#Triple quotes for multiline strings
string3 = """Hello!
World. This is a multiline string
"""
print(string1, string2, string3)

Hello World Hello!
World. This is a multiline string

In [28]:
print("Hello"+ " " + "World")

Hello Hello Hello  World

In [30]:
greetings = "Hello"+ " " + "World"
print(greetings[5])
print(greetings[0:])

Hello World

In [35]:
'''First arguement = base, Second arguement = exponent'''
print(pow(5, 3))
print(pow(5,-3))
print(pow(-5, 3))
'''The 3rd arguement uses the modulo which in this case would be (2**3) % 3'''
print(pow(2,3,3))
'''divmod returns the quotient and the remainder'''
print(divmod(5, 3))

125
0.008
-125
2
(1, 2)